[2020-09-02 17:14] crisjf opened #1 "Add Cris as collaborator to the repo"
I can't push code until someone adds me! hehehe

[2020-09-02 17:15] crisjf opened #2 "Which license are we using?"
I noticed we currently have a `GNU General Public License`, is there a specific reason for that? shouldn't we be using the `MIT License`?

[2020-09-02 18:26] crisjf commented on #2
From Ariel:

[code]

[2020-09-02 18:26] #2 closed

[2020-09-02 18:27] crisjf commented on #1
Solved by Ariel

[2020-09-02 18:27] #1 closed

[2020-09-02 20:07] yasushisakai commented on #2
MIT endorses GPL v2, Media Lab wants to use GPL v3. Nowadays I see examples that let's you pick between MIT and GPU.

[2020-09-03 16:23] RELNO opened #3 "naming consistency"
in `readme` examples, should toolbox => brix?

[2020-09-03 16:53] crisjf commented on #3
We also need to make sure the tutorial still works!

[2020-09-03 20:30] crisjf opened #4 "`geogrid_props` should not be stored in the Indicator"
Right now, the `Handler` is passing geogrid_pros to each `Indicator` instance. This messes up the logic, as `geogrid_props` is a table property. Also, we are holding one copy of `geogrid_props` per Indicator. Each Indicator should request `geogrid_props` from the `Handler` as needed.

[2020-09-03 20:57] crisjf commented on #4
What is the difference between `types` and `static_types` in `Handler.geogrid_props`?

[2020-09-04 11:59] doorleyr commented on #4
Types are the 'new' ones the user can add or remove to create their designs. Static types are the ones which already exist on the site before interventions occur. I need to differentiate between these because the front-end only wants to use the 'types' list to create the interface. But the modules still need to know the characteristics of the static ones.

[2020-09-04 12:39] crisjf commented on #4
Got it! Thanks for explaining.

[2020-09-04 18:17] crisjf commented on #4
This is done. All the heavy lifting in terms of combining `geogrid_data` and `geogrid_props` is now done by the `Handler` class. Each indicator object just needs to specify `Indicator.requires_geometry` and `Indicator.requires_geogrid_props`. See `README.md` for documentation.

[2020-09-04 18:17] #4 closed

[2020-09-04 18:23] #3 closed

[2020-09-04 19:02] crisjf opened #5 "Numeric indicators not showing on front end"
The indicators are properly posted in:
https://cityio.media.mit.edu/api/table/dungeonmaster/indicators

![image](https://user-images.githubusercontent.com/8973959/92276758-9ee20c00-eebf-11ea-9ea6-6a2415d88a66.png)

But they don't show up in
https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope=dungeonmaster
![image](https://user-images.githubusercontent.com/8973959/92276780-aa353780-eebf-11ea-

[2020-09-04 19:34] RELNO commented on #5
Looking at the log:

<img width="470" alt="Screen Shot 2020-09-04 at 15 32 25" src="https://user-images.githubusercontent.com/14296774/92278764-e2d71000-eec3-11ea-8851-07ae02d9913c.png">

it seems you're maybe misfeed/partially feeding the visualizer with all necessary data. Can you aim to comply with  https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope=corktown  / https://cityio.media.mit.e

[2020-09-04 21:09] crisjf commented on #5
That makes sense! `viz_type` is missing. I'll make sure to note that on the `README` as well.

[2020-09-06 16:33] #5 closed

[2020-09-14 11:08] doorleyr opened #7 "Heatmap Indicator example?"
The README has a heading for heatmap indicator but no content yet. What about including a simple proximity example on the grid (ignoring the road network)? eg. a residential_proximity indicator could return a geojson grid with the same geometry as the geogrid and a property indicating the grid distance to the closest residential grid cell? Let me know what you think and i can work on it.

[2020-09-14 16:02] crisjf commented on #7
This is a good idea. I just implemented a park proximity indicator! It turns out we already had a `Noise` indicator as an example so it was pretty straightforward to implement this.

Check it out and feel free to make edits. I'm leaving the issue open for now just in case you have any questions or comments.

[2020-09-15 15:44] crisjf opened #9 "Documentation using Sphinx"
This issue mainly for documentation.

New edits to documentation should not be done on `README.md`, they should be done here:
https://github.com/CityScope/CS_Brix/tree/master/docsource/source

In fact, I'm going to strip down the `README` and keep links to the tutorial and the examples.

The `rst` files are used by Sphinx to generate both `html` documentation and `md` documentation. This syntax is

[2020-09-15 16:06] crisjf commented on #9
Commit da7035112386e4d56eaac3f14dda379d8103a46e automatically generates `README` from `rst` files. This way we only have one source of truth for the documenation.

To generate documentation, run this shell script:
https://github.com/CityScope/CS_Brix/blob/master/docsource/source/build_documentation.sh

[2020-09-17 03:44] crisjf commented on #9
This is working now and we're just working out the details of integrating the documentation with other CityScope repos.

[2020-09-17 03:44] #9 closed

[2020-09-18 18:15] #7 closed

[2020-09-18 18:19] crisjf opened #11 "Action to build documentation"
This issue is to document progress:

There is a new branch dedicated to documentation: https://github.com/CityScope/CS_Brix/tree/docs-pages

Documentation should be written in `docsource` folder in this branch. Whenever this branch is updated, there's an action that does four things:
1. Checkout all the code from the `master` branch.
2. Builds the html and markdown documentation files and puts the

[2020-09-21 17:24] #11 closed

[2020-09-21 22:06] crisjf opened #12 "Geohash functions not compatible with Ubuntu"
We were using:
https://pypi.org/project/Geohash/
https://github.com/hkwi/python-geohash

I had issues installing them on a Ubuntu docker. I moved to this one instead:
https://pypi.org/project/pygeohash/

`pip install` works fine in some dists, so there's no need to update this.

[2020-10-08 14:29] crisjf opened #13 "The new CS standard broke some of the old examples"
`examples.Diversity` for example, is broken because there is no `land_use` property anymore. I created a new example for the workshop for now, but we need to fix this long term in the docs and in the examples.

[2020-10-16 15:38] crisjf commented on #12
This is fixed, it will be updated in `pip` when we update the package.

[2020-10-16 15:38] #12 closed

[2020-10-16 15:41] crisjf opened #14 "Think about integration with OSM"
Let's use `osmnx` and think about functions that could make getting data easier. For instance, a function that returns the buffered bounds of the table would be useful.

[2020-11-01 20:08] crisjf opened #15 "Multithreading Handler for stress testing"
Context: Before the workshop, we wanna make sure `cityio` does not crash. For that, we need to stress test it by creating multiple `Handler`s running in their own thread and listening to different tables.

I'll create tables `dungeonA`, `dungeonB`, and `dungeonC` to run a diversity indicator in each one of them.

[2020-11-01 20:51] crisjf commented on #15
This just needs testing once `cityio` is up again. Otherwise, this should be working.

@RELNO see the example here:
https://cityscope.media.mit.edu/CS_Brix/examples.html#multiple-tables-simultaneously

[2020-11-01 20:53] crisjf commented on #13
@RELNO see here as to why the code pushed for #15 won't run.

[2020-11-01 20:54] crisjf commented on #15
The `Diversity` indicator is not working, but we need `cityio` to be up to fix it (see #13 )

[2020-11-01 22:31] RELNO commented on #15
@crisjf very very nice, thanks. So in practice, a module maker can now spawn a generic module to all tables at once, same overhead?

[2020-11-02 02:06] crisjf commented on #15
yes! and all in the same python script.

[2020-11-09 14:42] crisjf commented on #14
@doorleyr, I added a `functions.py` file to start building functions to connect to OSM. Feel free to add stuff to it!

[2020-11-09 18:51] RELNO opened #16 "Docs header"
![Screen Shot 2020-11-09 at 1 50 12 PM](https://user-images.githubusercontent.com/14296774/98583552-8e208e80-2292-11eb-847c-d43d40ee151c.png)

Titles are repeated when with what's under the `id` tag

[2020-11-09 21:40] crisjf commented on #16
Solved, pending update on the `cityscope.github.io` action.

[2020-11-09 21:40] #16 closed

[2020-11-09 21:59] #15 closed

[2020-11-09 22:01] #13 closed

[2020-11-29 22:48] crisjf opened #17 "Some indicators might need access to `Handler.geogrid_props`"
The current logic only assumes that the indicator will take `geogrid_data` as an input.

A more general solution would be to create `geogrid_data` as its own class that extends the `list` class. That way, the user can access each cell by doing:
[code]

And can access `geogrid_props` by doing:
[code]

This is scalable, as whenever we need to pass an extra argument from the `Handler` to the indicato

[2020-11-29 23:01] crisjf commented on #17
Need to test before closing

[2020-11-30 00:26] crisjf commented on #17
This was added in `v0.0.3`

[2020-11-30 00:26] #17 closed

[2020-12-06 16:39] Claudio9701 commented on #14
Hi @crisjf and @doorleyr: I was wondering if I could use something like [UrbanPy](https://el-bid.github.io/urbanpy/) to get the land use value for each cell and `set_geogrid_data()` accordingly. I think that would require a POST endpoint for the table to set the GEOGRID props.

[2020-12-06 17:42] crisjf commented on #14
Hi @Claudio9701 I'll have a look at UrbanPy, it seems to be a good suggestion.

Following the logic that CityScope is using at the moment, the modules don't really edit `GEOGRID` or `GEOGRIDDATA`. `GEOGRID` is only edited when the table is created and `GEOGRIDDATA` is edited from the front end (the table).

If you wanted to do something like show a heatmap of land value, then what you want is to p

[2020-12-06 19:50] Claudio9701 commented on #14
Hi @crisjf, wow I'm surprised with the quick response. I'm playing with cs_brix (it's great and flexible!!)

I was able to update land-use values:

![showcae](https://media.giphy.com/media/1lgK9rb14YHrR2b37y/giphy.gif)

The code is in this [colab](https://colab.research.google.com/drive/1WjDXdYBoSsugDwVF0W5YdhtcN5D9UGj3?usp=sharing), I can add it to functions.py later if you will.

Now I will go g

[2020-12-06 21:53] RELNO commented on #14
@Claudio9701 that's a great idea, and as @crisjf this should probably part of CityScopeJS Grid Editor https://cityscope.media.mit.edu/CS_cityscopeJS/?editor . Since this tool is built in react/js, it might make sense to use a js library to handle OSM requests. I can see similar discussion here https://forum.openstreetmap.org/viewtopic.php?id=24738. I assume the process to be quite simple:

![image

[2020-12-07 03:12] Claudio9701 commented on #14
Hi @RELNO, yes you're right, I was thinking of this feature as a button or a setting to initialize the grid on CityScopeJS Grid Editor.
Following the ideas found on the provided link, I was able to set a land use for each grid cell.

At first, I attempt to use a [land use/cover API](https://openlandmap.org/#/?base=Stamen%20(OpenStreetMap)&center=-11.6317,-75.6385&zoom=8&opacity=80&layer=lcv_land.c

[2020-12-08 19:38] crisjf commented on #14
@Claudio9701 I see the conversation about setting `GEOGRIDDATA` using JS is continuing in the other repo.

I think it still makes sense to add the functionality to `brix` of posting to `GEOGRIDDATA`. It might be necessary in the future.

If you wanna go ahead and submit a pull request with the function you wrote I'd be happy to take a look. I might eventually add it as a method of the `Handler` bu

[2020-12-08 19:41] RELNO commented on #14
@crisjf worth keeping in mind that edits to the grid from a different source might not be reflected or break the FE, as it has multiple internal dependencies other than the grid itself.

[2020-12-08 23:37] Claudio9701 commented on #14
@crisjf I've done the pr, with the notes and comments related to the precautions @RELNO said.

Also I have tested the function on the colab but I didn't make the proper unittest on the tests folder, let my know if it's necessary :hugs:

[2020-12-09 14:56] crisjf commented on #14
All set for now. Thanks for contributing @Claudio9701

[2020-12-09 16:43] crisjf opened #19 "Post GEOGRIDDATA object"
Creating this issue to discuss posting of `GEOGRIDDDATA` object.

[2020-12-10 19:15] crisjf commented on #19
I cleaned up the dependencies between the functions inside the `Handler` class to make it easier to add this functionality.

![brix Handler (1)](https://user-images.githubusercontent.com/8973959/101818566-0e384f00-3af2-11eb-8c17-6c9a3b44953b.png)

[2020-12-10 20:04] crisjf commented on #19
A few notes:

* I'm not sure yet how the `listen` method will handle the update of the `GEOGRIDDATA`, it might get stuck in a weird recursive loop that we might want to avoid. For now, running `update_geogrid_data` will pause `listen` if it is running.
* I'm still unclear as to how to add this new function to the `listen` method.

[2020-12-10 20:04] crisjf commented on #14
I opened #19 to integrate this function to the `Handler`.

[2020-12-14 04:07] crisjf opened #20 "Add check for (in)valid GEOGRIDDATA"
When tables are first created, the GEOGRIDDATA endpoint matches GEOGRID. This only happens before the first update is pushed. Brix should check if the returned object is a valid `GEOGRIDDATA` object and warn the user when it is not. This will significantly help with onboarding.

[2020-12-14 04:13] crisjf opened #21 "NAICS/LBCS parsing"
@RELNO mentioned that commit: https://github.com/CityScope/CS_cityscopeJS/commit/a05029a2ad4e48f598d30edabf46a18b068398a4
"changes the way LBCS /NAICS codes are sent".

We need to check that the NAICS/LBCS are correctly parsed by `brix`.

![image](https://user-images.githubusercontent.com/8973959/102039621-6b552e80-3d98-11eb-9cc3-f8926798602a.png)

[2020-12-14 04:14] crisjf commented on #21
I see what the issue is. The codes are being returned as strings:

![image](https://user-images.githubusercontent.com/8973959/102039832-fa624680-3d98-11eb-8949-7d96e572ef2a.png)

The update needs to change
[code]

for
[code]

[2020-12-14 04:18] crisjf commented on #21
See here as well:

![image](https://user-images.githubusercontent.com/8973959/102040023-81afba00-3d99-11eb-8ef0-2bd225747df0.png)

[2020-12-14 04:37] crisjf commented on #21
Commit e1aa43e485799e950236b64dadc5e4cd0ab47e04 closes this issue

![image](https://user-images.githubusercontent.com/8973959/102040922-1adfd000-3d9c-11eb-9825-5f9803699471.png)

[2020-12-14 04:37] #21 closed

[2020-12-14 05:00] crisjf commented on #19
This can easily be used to reset the table from the 'GEOGRID' endpoint

[2020-12-14 14:21] crisjf commented on #20
The creation of the `GEOGRIDDDATA` object made this really:

![image](https://user-images.githubusercontent.com/8973959/102092183-c7966d80-3ded-11eb-8a33-ad7b29346d03.png)

[2020-12-14 14:21] #20 closed

[2020-12-14 14:39] crisjf commented on #19
This seems to be working now. There are two functions:
`post_geogrid_data`: which takes in a dictionary
`update_geogrid_data`: which is @Claudio9701 original logic that takes in a function.

Will close this for now and push this to the newest pip version.

[2020-12-17 17:23] crisjf commented on #14
The last few commits implement two new functions that can be found here:

https://cityscope.media.mit.edu/CS_Brix/functions.html

[2020-12-17 17:25] crisjf commented on #14
I'll close this for now and I'll open another issue to do the same with the ACS and with ZBP.

Since the types defined in `GEOGRID` come with a `NAICS` code, it might be easier to use `ZBP` to infer the land use based on employment. I'll try this and see how it looks.

[2020-12-17 17:25] #14 closed

[2020-12-17 17:25] crisjf opened #22 "Integration with ACS"
Pull ACS data for the area around the given table.

[2020-12-17 17:26] crisjf opened #23 "Integration with ZBP"
Pull ZBP data (zipcode business patterns) for the area around a given table.

Since ZBP uses NAICS and since the types use NAICS as well, it shouldn't be difficult to populate GEOGRIDDATA with ZBP.

[2020-12-18 21:05] crisjf commented on #23
For this, we need the zipcode associated with each cell. @RELNO if this could be done when the table is initialized, it'd be super helpful.

I have python code that does this locally, but I don't know if this could be easily integrated into the table-creation pipeline. Maybe someone wants to take the same logic and translate it to JS?

The code does the following:
1. Use the ZCTA (Zipcode Tabulati

[2020-12-18 21:07] crisjf commented on #22
The challenge here is similar to what I described in #23. Ideally, the table would assign census tracts (or census blocks) to each cell in the grid upon initialization. Otherwise, we are stuck trying to reverse geocode a bunch of locations, and that's not straightforward.

[2021-02-05 19:52] guadalupebabio opened #24 "get_geogrid_data only on interactive cells"
Right now get_geogrid_data is retuning in all cells, I think it should only return on interactive cells or have an option

[2021-02-05 21:08] crisjf commented on #24
See commit 68e8f2f6d4abdabfde1ad77130bd32f14786cbd6

[2021-02-05 21:27] crisjf commented on #24
![image](https://user-images.githubusercontent.com/8973959/107090944-f407ae00-67ce-11eb-9c26-3285de9a4dbd.png)

https://cityscope.media.mit.edu/CS_Brix/classes.html#handler-class

[2021-02-05 21:27] crisjf commented on #19
FYI

https://cityscope.media.mit.edu/CS_Brix/examples.html#auto-updates-of-geogriddata

[2021-02-10 17:26] guadalupebabio opened #25 "`Handler.get_geogrid_data` returns geodataframe without crs"
When using `as_df=True` and `include_geometries` I get a GeoDataFrame without crs.

This is the code:
[code]

[2021-02-10 18:15] crisjf commented on #25
Fixed!

It'll be available in version `0.0.7`, but I'll wait for a few more updates to update pip.

![image](https://user-images.githubusercontent.com/8973959/107552748-ea50c280-6ba1-11eb-9251-f17189e8dad6.png)

[2021-02-10 18:15] #25 closed

[2021-02-23 17:12] crisjf opened #26 "Constructor for simple heatmap"
I think it's worth building a constructor for a non-reactive heatmap.

Build a function that takes a geodataframe with points and one value column as an input, and generate a heatmap indicator.

[2021-02-23 17:12] crisjf opened #27 "Make df version of geogrid_data available to module builders"
Module builders are now forced to use the list version of geogriddata. Some users might want to build their modules using the result of `Handler.get_geogrid_data(as_df=True)`.

They are now only allowed to use this:
![image](https://user-images.githubusercontent.com/8973959/108876457-3a7d4b00-75cc-11eb-9c1f-1d0a1a2a4e00.png)

They should also have access to this:
![image](https://user-images.githu

[2021-02-23 17:15] crisjf commented on #27
Solution was to create `brix.GEOGRIDDATA.as_df()` function.

I still need to document this.

[2021-02-25 00:21] crisjf opened #28 "New Feature: create graph of grid"
Build feature that returns a `networkx.Graph` connecting each cells to its nearest neighbors. This will be useful for module builders who want to build modules where cells interact with each other.

[2021-02-25 00:28] crisjf commented on #24
@guadalupebabio could we get rid of this feature? Now that I think more about it, it's a bit of a slippery slope to implement custom cell filters here. You can always implement it yourself in your module.

[2021-02-25 01:55] RELNO commented on #28
very cool feature. this can help many different modules -- how compute intensive you imagine this to be on large grids?

[2021-02-25 03:02] guadalupebabio commented on #24
Sure! that works I can just make it locally

[2021-02-25 14:47] crisjf commented on #28
It worked fine on [Guada's grid](https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope=lomas), which is pretty large.

It goes fast because grids are never rotated. So if you ever implement the option of having a rotated grid with respect to the lat/lon space, then this will not work anymore.

[2021-02-25 14:52] crisjf commented on #28
Here's the code to work with this:

[code]

@guadalupebabio this might be useful for your module

I have yet to add it to the docs.

[2021-02-25 15:03] crisjf commented on #24
Ok, so now the way to do it is:

[code]

[2021-02-25 15:03] #24 closed

[2021-02-25 15:05] crisjf opened #29 "Redundancy in geogrid_data as as_df"
There are now two ways of getting geogrid_data as_df.

Option 1:
[code]

Option 2:
[code]

We will go with option two because it's more flexible. Option 1 is a wrapper for Option 2 anyways.

This is an easy code fix, but might change some things in the docs.

[2021-02-25 15:07] crisjf commented on #29
Need to go through tutorial.

[2021-02-25 15:08] crisjf commented on #27
Closing this, as it relates to #29

[2021-02-25 15:08] #27 closed

[2021-02-25 15:11] RELNO commented on #29
Question: when it's converted to df, is it recreating the df or only updates its values?

[2021-02-25 15:30] crisjf commented on #29
it was, but now it's not

[2021-02-26 20:15] crisjf commented on #19
Hi all, I'm reopening this issue as someone in our group started building a table that relies on posting GEOGRIDDATA. There is a small but potentially influential change to how GEOGRIDDATA objects are posted.

The current solution is used in the following way:
[code]

Listen will first update geogriddata, and then proceed to update indicators. The current version relies on the user calling `H.get_

[2021-02-26 20:19] crisjf commented on #19
Change implemented, I need to document.

[2021-02-27 15:42] crisjf commented on #26
Check docs here:

https://cityscope.media.mit.edu/CS_Brix/examples.html#static-heatmap-indicator

![image](https://user-images.githubusercontent.com/8973959/109392131-6eb47c80-78e8-11eb-9de7-1551298b8503.png)

[2021-02-27 15:43] crisjf commented on #19
See docs here:

https://cityscope.media.mit.edu/CS_Brix/tutorial.html#auto-updates-of-geogriddata

[2021-02-27 15:43] #19 closed

[2021-02-27 16:06] crisjf commented on #28
Documentation here:

https://cityscope.media.mit.edu/CS_Brix/classes.html#brix.GEOGRIDDATA.as_graph

[2021-02-27 16:06] #28 closed

[2021-02-27 16:06] crisjf commented on #29
Documentation here:

https://cityscope.media.mit.edu/CS_Brix/classes.html#brix.GEOGRIDDATA.as_df

[2021-02-27 16:06] #29 closed

[2021-03-01 18:19] crisjf commented on #26
I'm reopening this bc most of the time the data comes with polygons. Based on the conversation from this morning, we're gonna be doing a lot of visualizing heatmaps in the coming months.

I'm gonna build a function that takes a shapefile with polygons and `griddifies` it.

[2021-03-01 19:10] crisjf opened #30 "GEOGRID object in cityio is different across tables"
For `dungeonmaster`

![image](https://user-images.githubusercontent.com/8973959/109546102-bd544900-7a97-11eb-9c07-fa80b4a555ed.png)

For `lomas`
![image](https://user-images.githubusercontent.com/8973959/109546173-d52bcd00-7a97-11eb-824c-2adbe914581e.png)

The difference is that one has an `id` the other one doesn't. This causes `brix.Handler.get_GEOGRID_EDGES` to fail. I'm gonna implement a try/c

[2021-03-01 19:11] crisjf commented on #30
@RELNO could you take a quick look at this?

[2021-03-01 19:15] RELNO commented on #30
first of all, welcome to flickr.
Second: I'm not 100% why, but in practice the GEOGRID objects properties can grow to include many attributes, but must have only height, color, name, and interactive (if I'm not forgetting something). Is this inconsistency breaks something?

[2021-03-01 19:58] crisjf commented on #26
Example can be found here.
https://cityscope.media.mit.edu/CS_Brix/examples.html#static-heatmap-indicator

Documentation for `griddify` can be found here:
https://cityscope.media.mit.edu/CS_Brix/functions.html#wrapper-functions

Documentation for `StaticHeatmap` can be found here:
https://cityscope.media.mit.edu/CS_Brix/classes.html#indicator-sub-classes

[2021-03-01 19:58] #26 closed

[2021-03-01 21:40] crisjf commented on #30
LOL

Could we also keep the id in the GEOGRID object as well? It'll make it much reliable, especially when people build tables with a large non-interactive area. It's not an issue if we don't have it, and we just index the cell by its position in GEOGRID. I just have to remind myself of this.

[2021-03-01 21:56] RELNO commented on #30
Yes -- so I've just tested on https://cityio.media.mit.edu/api/table/cityscopejs and ID comes with.

[2021-03-01 22:10] crisjf commented on #30
Ok! So moving forward I'll assume GEOGRID also has the id, except for old tables like `dungeonmaster`.

[2021-03-01 22:13] crisjf commented on #30
we're good

I recreated `dungeonmaster` and now I see the ids in `GEOGRID`

https://cityio.media.mit.edu/api/table/dungeonmaster/GEOGRID

[2021-03-01 22:13] #30 closed

[2021-03-12 14:55] guadalupebabio opened #31 "Heatmap with None produces error"
I'm trying to post a heatmap with multiple layers, with some missing values, but Brix is not posting the values correctly.

This is how the `update_package` looks like
![image](https://user-images.githubusercontent.com/38555658/110956760-f357bf80-8318-11eb-87fb-4e78ec6a7200.png)

This is the error I'm getting
[code]

[2021-03-12 14:56] guadalupebabio opened #32 "Numeric and heatmap indicators together"
I have a use case with a simulation that needs to post both heatmap and numeric indicators. Is this supported? How should I write the `return_indicator` function?

[2021-03-12 15:36] doorleyr commented on #32
I think it's not possible right now but I also have use cases that would benefit from such a capability.
At the moment I'm using a workaround where I do my own post request inside the return_indicator() function. See the Proximity_Indicator class here:
https://github.com/doorleyr/OpenCity/blob/master/CS_Indicators.py

[2021-03-12 15:38] crisjf commented on #32
Very clever.

I'll work on this, I don't think it's gonna be that complicated.

[2021-03-12 15:40] guadalupebabio commented on #31
we ran into the issue that we want to post heatmaps with missing values, and we discovered that we cannot do it. Instead, we need to fill them with zeros like this example:
https://cityio.media.mit.edu/api/table/epa_test/access

[2021-03-12 21:09] crisjf commented on #31
Guada, I think the issue is not with your heatmap, but with your grid modification function. (this one https://github.com/guadalupebabio/TeraScope/blob/main/my_gridmodification.py)

Before posting the new `GEOGRIDDATA` object, brix makes sure the object is valid by running a series of tests. One test is to check whether the `type` of each cell you defined in the new object is a valid type defined

[2021-03-12 21:16] crisjf commented on #31
I'm closing this as it appears to not be a `brix` issue. We can reopen it if it turns out I was wrong :)

[2021-03-12 21:16] #31 closed

[2021-03-12 21:56] crisjf commented on #32
I started working on this in a new branch:
https://github.com/CityScope/CS_Brix/tree/hybrid_indicators

There's a first commit already, and it seems to be working.

Here's a simple example of a noise indicator that posts noise and average noise:
[code]

Note the syntax for the return. It has to be a dict with two keys, `numeric` and `heatmap` (or `access`).

When connected to a Handler like so
[co

[2021-03-12 22:22] crisjf commented on #32
Checkout the documentation for this here:

https://cityscope.media.mit.edu/CS_Brix/examples.html#hybrid-indicator

![image](https://user-images.githubusercontent.com/8973959/111004686-75ff6f80-8357-11eb-8890-657c6d72f232.png)

[2021-03-15 16:52] guadalupebabio opened #33 "Opacity not supported by brix"
I'm working with a table that has types defined as transparent. Since brix takes the color from `GEOGRID/properties/types` this means I cannot update any transparent types.

Could we use 8-digit hex codes (that include transparency) in the types definitions?

Alternatively, can we add a parameter to `Handler.reset_geogrid_data` to prevent brix from overriding the colors set in `GEOGRID/features`?

[2021-03-15 17:01] RELNO commented on #33
@guadalupebabio I did a couple of tests, and from the Editor/CSjs point of view, there's no simple way _now_ to include transparent colors. The reason is that the editor is using hex color that are later converted to [r,g,b,a] array, so that deckgl could read them. problem is that hex ->rgba conversion is not super straight forward without type checking.
Therefore my suggestion to you is to create

[2021-03-15 18:17] crisjf commented on #33
That's a good suggestion @RELNO. Since @guadalupebabio is only using transparency for the non-interactive cells, the solution for now is to make sure that when she resets `GEOGRIDDATA` from brix, brix uses the colors defined in `GEOGRID/features` instead of getting all smart and trying to set the colors to the ones defined in `GEOGRID/properties/types`.

[2021-03-15 18:24] crisjf commented on #33
@guadalupebabio, your table seems to be working now. I ran:

[code]

![image](https://user-images.githubusercontent.com/8973959/111202345-2361c580-859a-11eb-907b-e83f9f169e08.png)

[2021-03-15 18:27] crisjf commented on #33
@RELNO random thought: Could we add opacity as a feature to each type?

For example:
[code]

[2021-03-15 18:31] RELNO commented on #33
We can, but a simpler way would be to either input RGBA vals, or allow hex transparency (more complex to type check tho https://gist.github.com/lopspower/03fb1cc0ac9f32ef38f4). In both cases, it's a matter of convention across the apps.

[2021-03-17 14:34] crisjf commented on #33
This seems to be working now.

The solution was the following:
Whenever a new geogrid_data is trying to be pushed that has a transparency value for the color (e.g. `[0,0,1,0]`), brix remaps the first three numbers to the color defined in `GEOGRID/properties/types` and keeps the transparency. This means that if a user defines the color with transparency in `GEOGRID/features`, those transparency val

[2021-03-17 14:34] #33 closed

[2021-03-17 14:36] crisjf opened #34 ""Setup GEOGRID" functionality"
I just had a call with @doorleyr about integrating some functions to setup the GEOGRID.

These functions will allow the user to:
* Set up the initial state of the grid
* Modify types-definitions using

Let's track the progress in this issue.

[2021-03-17 14:37] crisjf commented on #34
Issues #22 and #23 are related to this.

[2021-03-19 12:04] doorleyr commented on #32
Looks great. Thanks and sorry for the delayed response.

[2021-03-19 12:16] crisjf commented on #32
Merged to master.

94489246d3774eb63f3a4e9316a16a090ae5d8a7

[2021-03-19 12:16] #32 closed

[2021-03-22 20:41] crisjf opened #35 "Add progress bar"
For heavy modules, it might make sense to add a progress bar that displays on the python console to show the user that the table is updating.

This package seems straightforward to use:
https://pypi.org/project/progress/

[2021-03-29 15:17] crisjf opened #36 "New CityIO version"
Todo:

* Ensure all trailing slashes are added for both POST and GET requests
* Add /Content-Type:application/json/ for POST requests
* New update endpoint: https://cityiotest.mirage.city/api/table/new_table
* Test `brix` using: https://cityiotest.mirage.city

Also note that POST requests append by default, so there is no need to post indicators or grid cells that have not changed.

[2021-03-29 15:35] crisjf commented on #36
Old attributed `brix.Handler.append_on_post` needs to be dropped as well.

[2021-03-29 16:14] guadalupebabio opened #37 "Textual indicator"
Can we add an indicator that interacts with the textual layer that Ariel just created in [this issue](https://github.com/CityScope/CS_cityscopeJS/issues/119)?

The frontend will read from this endpoint:
[code]

And the data has to be formatted as:
[code]

[2021-03-29 16:39] crisjf commented on #36
@RELNO do you have an easy way to populate some of Yasushi's test [tables](https://cityiotest.mirage.city/api/tables/list/) in mirage.city with GEOGRIDs? I think I'm done with the core changes but I can't test the post requests until I have some GEOGRIDs to work with.

[2021-03-29 16:45] RELNO commented on #36
not really, I guess `curl` any of the existing grids would do the trick

[2021-03-29 18:35] crisjf commented on #37
@guadalupebabio I just implemented it but haven't had the chance to write the docs.

To use it with your hybrid indicator, define a function called `return_indicator_textual`, similarly to how you work with `return_indicator_heatmap` and `return_indicator_numeric`. Make sure your function has the right format.

Alternatively, if you want to define your own `return_indicator` for your hybrid indica

[2021-03-29 18:35] crisjf commented on #37
Documentation is missing for this feature.

[2021-03-29 19:20] crisjf commented on #36
@RELNO I really miss `dungeonmaster`

https://github.com/CityScope/CS_CityIO/issues/125

[2021-03-30 15:14] crisjf commented on #36
I created another class to make testing easier. Documentation for this is still pending.

The `User` class simulates a user updating the table by either i) flipping a random cell to a different type, ii) shuffling the types of the whole table, or iii) resetting the grid to its original value. It does all of this in a different thread to allow the module builder to continue working on their module.

[2021-03-31 15:19] crisjf commented on #36
I wrote a unittest for the endpoints of the new api.

See here:
https://github.com/CityScope/CS_Brix/blob/cityio_update/test/test_api.py

[2021-04-21 16:29] guadalupebabio commented on #34
if there is a quick function to check if a table exists, that'd be super useful. I'm working on a script that creates tables

[2021-04-21 16:47] RELNO commented on #34
GET http://cityio.media.mit.edu/api/tables/list for all tables

[2021-04-21 16:55] guadalupebabio commented on #34
I know that one, but I was wondering if there is a function in Brix that checks all the existing tables and returns True or False. The same that exists `geogrid = H.get_GEOGRID()`

[2021-04-21 16:59] guadalupebabio commented on #34
Also, I was checking [Ronan's code](https://github.com/CityScope/CS_Grid_Maker/blob/master/examples/corktown_grid.py) to generate a new table  and uses a `Grid` function, `corktown_grid= Grid(top_left_lon, top_left_lat, rotation,crs_epsg, cell_size, rows, columns)` is it in included or soon to be in Brix? otherwise how can I create a table from a script having `(top_left_lon, top_left_lat, rotatio

[2021-04-21 17:28] RELNO commented on #34
[code]

[2021-04-21 18:04] crisjf commented on #34
Check `is_table` function: [here](https://cityscope.media.mit.edu/CS_Brix/functions.html)

All these functions are very straightforward to build, but they are a bit time-consuming, especially to get them working reliably.

I think we're failing at keeping these helper-like functions in one place. For example, I was looking at @guadalupebabio's code to generate a new table, and the line she was usi

[2021-04-21 18:13] crisjf commented on #34
@doorleyr should we start importing some of the functions and classes from this repo?
https://github.com/CityScope/CS_Grid_Maker

[2021-04-23 17:31] crisjf commented on #34
I just pulled the `grid_geojson.py` from https://github.com/CityScope/CS_Grid_Maker and put it in a new branch `grid_maker` for testing.

You can now do `from brix import Grid` if you are in the right branch.

I also kept the history of the file.

[2021-04-23 17:39] RELNO commented on #34
@crisjf I haven't looked into @doorleyr lib for sometime now, but there might minor differences between the way CSjs editor creates grid and how this library does -- I'd suggest creating the same grid in both and testing for differences

[2021-04-23 17:50] crisjf commented on #34
Good to know. I know @guadalupebabio was hoping to use this feature, so she'll let us know if/when it crashes.

@guadalupebabio can you also try what @RELNO recommended while you're testing?

I also imported the `README` from the other repo:
https://github.com/CityScope/CS_Brix/blob/grid_maker/README_Grid_Maker.md

Once this gets pulled to master we'll integrate this very well written documentatio

[2021-04-24 20:49] crisjf commented on #37
I added an example of a textual indicator in the examples section and added an explanation in the tutorial as well.

https://cityscope.media.mit.edu/CS_Brix/tutorial.html
https://cityscope.media.mit.edu/CS_Brix/examples.html#textual-indicator

[2021-04-24 20:49] #37 closed

[2021-04-24 20:53] crisjf commented on #37
Please note there was a bug that made the Handler not accept textual indicators in `v0.0.9`. This was fixed in ca9176fe02de6bd7a71fc98b9237212ca17fcebb but has not yet been updated in pip.

[2021-04-24 20:53] crisjf commented on #36
This seems to be working now.

There was a small issue that indicators without a name were not working when added to a Handler, but that was fixed by ca9176fe02de6bd7a71fc98b9237212ca17fcebb but is not yet updated in pip.

[2021-04-24 20:53] #36 closed

[2021-04-24 21:01] crisjf commented on #35
Low priority, will close for now.

[2021-04-24 21:01] #35 closed

[2021-05-02 16:38] crisjf opened #38 "Add signatures to track indicator owners"
I'm summarizing the discussion I had with @RELNO .

With more people playing around with `brix`, we might run into the issue that we do not know where indicators are coming from.

We are thinking about adding `signatures` to each table, that will automatically update every time the indicator is updated. These objects will track who created which indicator.

See the example here:
https://cityio.med

[2021-05-04 16:55] yasushisakai commented on #38
will this have a reference to the grid (GEOGRID) that is based on?

[2021-05-06 15:54] crisjf commented on #34
I integrated @guadalupebabio changes into `grid_maker.py`

Here's the commit (I linked it to the wrong issue by mistake):
50bf194581f81480a6909070514f780e4602f402

One small note, `commit_grid` was giving the user the option to save the json locally. I removed this, as it should be done by the user independently from the commit.

[2021-05-06 22:22] crisjf commented on #34
I had to remove `pyproj` from requirements because it was conflicting with the version required by `geopandas`. `pyproj` is still installed because we require `geopandas`, but @doorleyr code was written for `pyproj==1.9.5` and they are in version `3` by now. So things might break.

[2021-05-11 11:15] doorleyr opened #42 "Grid Maker producing incorrect size and rotation of grid"
Grids created with the Grid() class have incorrect cell size and are flipped vertically.

[2021-05-11 13:25] crisjf commented on #34
See #42

Thanks @doorleyr for looking into this!

[2021-05-20 14:56] crisjf commented on #42
@doorleyr did you fix this here 7ac74b95241627b69db480a128d3bc1ede2aaf72
or is it still open?

[2021-05-20 17:14] doorleyr commented on #42
It should be fixed. @guadalupebabio can reopen if not.

[2021-05-20 17:14] #42 closed

[2021-05-20 20:52] crisjf commented on #34
Since @doorleyr closed #42, we'll be integrating these features to the master branch soon :)

[2021-05-21 14:53] doorleyr opened #45 "New error when running Handler.listen(). Seems to be related to unlinked indicators"
Since upgrading to the latest release of brix, I get the following error with all of my indicators which were working before.
[code]
Here's the notebook I'm using: https://github.com/doorleyr/OpenCity/blob/master/CS_Indicators_example.ipynb

I have several indicators I'm working with and I have tried adding just one of them or all of them, using add_indicator() or add_indicators() but I now always

[2021-05-21 15:05] crisjf commented on #45
Did you define `self.name` for your indicators in `setup`? This might be the issue.

If this was the issue, it will be gone in version `0.0.10`, but for now, just name them and it should disappear.

If this was not the issue, let me know and I'll look into it.

[2021-05-21 15:18] crisjf opened #46 "Save indicators when table is not being used to free up memory"
For large modules, memory use can get out of hand.

We will implement a `save_resources` mode on `Handler` to allow the module to remove all objects from memory and store them in a temporary file once the table has gone idle for more than 5 minutes.

Currently, idle mode only lowers the refresh frequency but keeps all objects on memory.

This can be turned off by the user if needed.

Most tables a

[2021-05-21 15:24] crisjf commented on #45
Yeah, this seems to have been fixed in this commit:
ca9176fe02de6bd7a71fc98b9237212ca17fcebb

which happened the day after we pushed `0.0.9`

I'll update to `0.0.10` sometime next week. I was waiting for #34 to be done and it seems we have converged to a stable solution.

[2021-05-21 15:30] crisjf commented on #46
Using 36a270df4b600c548840912e56856c9b78301701 the following code coes from >800MB to 30MB of memory usage when entering idle mode.

Pickling and unpickling take a bit of time though, so for heavy use tables users might want to set `save_resources = False` when instantiating the `Handler`.

[code]

![image](https://user-images.githubusercontent.com/8973959/119161853-c0702d00-ba27-11eb-91a6-40ddf5e

[2021-05-21 16:31] doorleyr commented on #45
Setting a name worked. Thanks @crisjf

[2021-05-21 16:33] crisjf commented on #45
Awesome!

[2021-05-21 16:33] #45 closed

[2021-05-25 14:59] crisjf commented on #34
I started a PR for this feature.

I'll start working on documentation in the meantime.

I know we don't have the resources to do an in-depth code review, but I'll leave it up for a few days just in case, and then just merge to master.

[2021-06-02 20:56] crisjf commented on #34
I just merged PR #47

Docs are here:
https://cityscope.media.mit.edu/CS_Brix/tutorial.html#creating-a-table-from-python

[2021-06-02 20:56] #34 closed

[2021-06-02 22:09] crisjf commented on #22
Closing due to bandwidht

[2021-06-02 22:09] #22 closed

[2021-06-02 22:09] crisjf commented on #23
Closing due to bandwidht

[2021-06-02 22:09] #23 closed

[2021-06-03 04:18] crisjf opened #48 "Brix dockerization"
We had this feature in the old repo:
https://github.com/CityScope/CS_Urban_Indicators

Let's bring it to this one and update the documentation accordingly.

[2021-06-15 12:01] doorleyr opened #49 "If an indicator retirns a nan value, Handler gives no warning but does not send any results to cityIO"
While running a set of indicators for a new table, I found that the Handler seemed to be running but the /indicators field on cityIO was not getting updated. I then realised that one of my indicators was returning a nan value, and this seems to cause the results to not be sent to cityIO. It would be very helpful if there was an error message which would alert the developer as to the cause of the p

[2021-06-15 22:55] crisjf commented on #49
Good idea. I'll look into it.